/*a journey of a thousand miles begins with a single step*/

body {
    width: 100%;
    height: 100%;
    font-family: "3l",'Fira Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    color: #242424;
    background-color: #f8f8f8;
    /*font-size: 12px;*/
    font-size: 12px;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "3m",'Fira Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 0;
    letter-spacing: 6px;
}

.navbar {font-size: 0.8em;}
.bold {font-family: "3m",'Fira Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;}

h1 {
    /*font-size: 32px;*/
    font-size: 2em;
}

h2 {
    font-size: 10px;
    letter-spacing: 2px;
}

h4 {
  /*font-size: 22px;*/
  font-size: 1.5em;
}

h5 {
    letter-spacing: 4px;
    margin: 0 0 15px;
    font-size: 1em;
    /*font-size: 12px;*/
}

h6 {
    text-transform: uppercase;
    font-size: 10px;
    margin: 0 0 10px;
    letter-spacing: 2px;
    font-family: "3l",'Fira Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
}

h6 a{
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    /*font-size: 12px;*/
    font-size: 1em;
    line-height: 1.5;
}

.smtxt {
    font-size: 11px;
    /*font-family: '3m';*/
}

.col-md-8.stomp {
    position: absolute;
    bottom: 6%;
}

@font-face{
    font-family:'3m';
    src:url('../js/rsc/4m.ttf') format("truetype");
    font-weight:normal;
    font-style:normal
    }

@font-face{
    font-family:'3l';
    src:url('../js/rsc/4r.ttf') format("truetype");
    /*font-weight:lighter;*/
    font-weight:normal;
    font-style:normal
    }

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        /*font-size: 14px;*/
        line-height: 1.6;
    }
}

a {
    /*color: #28c3ab;*/
    color: #242424;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #242424;
    background-color: rgb(255,238,0);
}

/*INTROLINK styles*/

.landing a {
    color:rgb(255,238,0);
}

.introlink a {
    color: #242424;
    text-decoration: underline;
    background-color: rgb(255,238,0);
}

.introlink a:hover,
a:focus {
    text-decoration: none;
    color: #242424;
    background-color: rgb(255,238,0);
}

.light {
    font-weight: 300;
}

.navbar {
    margin-bottom: 0;
    /*border-bottom: 1px solid rgba(255,255,255,.3);*/
    text-transform: uppercase;
    font-family: "3l",'Fira Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    /*background-color: #f8f8f8;*/
    background-color: transparent;
    letter-spacing: 5px;
}

.navbar-brand {
    font-size: 16px;
    letter-spacing: 5px;
    margin: 0 0px;
    font-family: "3m",'Fira Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-brand:hover,
.navbar-brand:focus {
    outline: 0;
    color: #242424;
    background-color: rgb(255,238,0);
}

.navbar-custom a {
    color: #fff;
}

.top-nav-collapse.navbar-custom a {
    color: #0B0B0B;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    /*NAVBAR HOVER COLOR*/
    background-color: rgb(255,238,0);
    color: #242424;
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        /*background-color: #f8f8f8;*/
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 0px solid rgba(255,255,255,.3);
    }

}

#wrap {
    position: relative;
}

.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    /*text-align: center;*/
    color: #fff;
    /*background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;*/
    /*background-color: #f8f8f8;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    /*font-size: 10px;*/
    letter-spacing: 1px;
    font-weight: 100;
    font-family: "3l",'Fira Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0 0 75px;
}

.dark{
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    background-color: #f8f8f8;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.window {
    background-color: rgba(248,248,248,0.95);
    display: table;
    width: 100%;
    padding: 175px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.about-text {
    margin-bottom: 0px;
}
.about-text span{
/*    border-top: 2px solid rgb(255,238,0);
    border-bottom: 1px solid rgb(255,238,0);
    color: #242424;
    background-color: rgb(255,238,0);*/
    line-height: 1.7;
    font-size: 12px;
}

.attribution{
    font-size:8px;
    text-align: center;
}

.attribution a{
    text-decoration: none;
}

.attribution a:hover,
a:focus{
    text-decoration: underline;
}


@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 60px;
    }

    .intro-text {
        /*font-size: 14px;*/
    }

    .about-text {
        /*font-size: 14px;*/
    }

    .quote-text {
        font-size:100px;
        letter-spacing: -2px;
    }

    .gotham-text{
        font-size:14px;
    }

    .attribution{
    font-size:10px;
    }
}

.fa-angle-down {
    font-size: 36px;
}

.btn-circle {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    /*border: 2px solid #fff;*/
    opacity: 0.3;
    background-color: #f8f8f8;
    border-radius: 25px;
    font-size: 20px;
    color: #fff;
    /*background: 0 0;*/
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    /*background: rgba(255,255,255,.1);*/
    background: rgb(255,238,0);
    opacity: 1;
}

.banner-social-buttons .btn-circle{
    padding:8px 8px;
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
    height:110%;
}

.quote-section {
    width: 100%;
    height: 100%;
    padding: 100px 0;
    /*text-align: center;*/
    color: #fff;
    /*background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;*/
    /*background-color: #ffeb03;*/
    background-color: rgba(256,256,256,0.95);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#gaussianblur-bg{
    position: absolute;
    top:0px;
    right:0px;
    bottom: 0px;
    left:0px;
    z-index: 99;
    -webkit-filter:blur(10px);
    filter: blur(10px);
}

#gaussianblur {
    
}

span.introlink {
    /*color: #242424;*/
}

.project-section {
    width: 100%;
    /*height: 110%;*/
    padding: 100px 0;
    color:#242424;
    /*argin-top: 0px;*/
    /*color: #242424;*/
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.project1 {
    /*width: 100%;*/
    height: 110%;
    padding: 100px 0;
    color:#242424;
    background: url(../img/project1.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.project2 {
    /*width: 100%;*/
    height: 110%;
    padding: 200px 0;
    color:#242424;
    background: url(../img/project2.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.project3 {
    /*width: 100%;*/
    height: 110%;
    padding: 200px 0;
    color:#242424;
    background: url(../img/project3.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.project4 {
    /*width: 100%;*/
    height: 110%;
    padding: 200px 0;
    color:#242424;
    background: url(../img/project4.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.project-section span{
    /*border-top: 2px solid rgb(255,238,0);*/
    /*border-bottom: 1px solid rgb(255,238,0);*/
    color: #242424;
    background-color: rgba(255,238,0,0.8);
    line-height: 1.8;
}

.half {
    height: 30%;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .project-section {
        padding: 200px 0;
    }
}

/*.btn {
    text-transform: uppercase;
    font-family: '1614l', 'Fira Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}*/

.btn-default {
    border: 2px solid #FFF;
    color: #FFF;
    background-color: transparent;
    opacity: 1;
}

.btn-default:hover,
.btn-default:focus {
    border: 2px solid rgb(255,238,0);
    outline: 0;
    color: #242424;
    background-color: rgb(255,238,0);
}

.btn-rect {
    border: 2px solid rgb(255,238,0);
    border-radius: 2px;
    font-family: "3m",'Fira Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 11px;
    /*color: rgb(255,238,0);*/
    color: #242424;
    background-color: rgb(255,238,0);
    opacity: 0.7;
    letter-spacing: 4px;
}
.btn-rect:hover,
.btn-rect:focus {
    border: 2px solid rgb(255,238,0);
    border-radius: 2px;
    opacity: 1;
    outline: 0;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

/*VIDEO STUFF*/
video {
    z-index:0;
}

.header-unit {
  height: 150px;
  border: 2px solid #000;
  border-right:none;
  border-left: none;
  position: left;
  padding: 0px;
}

#video-container{
    background-color: #0B0B0B;
    position: fixed;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;
}

@media(max-width:767px) {
    #video-container{
        background-color: #242424;
        position: fixed;
        top:0%;
        left: -122%;
        height: 100%;
        /*left:0%;*/
        /*width:100%;*/
        overflow: hidden;
        min-height: inherit;
        /*padding-top: 50px;*/
        opacity: 0;
    }

    body {
        background-color: #242424;
    }

    h1 {
        font-size: 22px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 10px;
    }
}

.carousel,
.item,
.active {
    height:100%;
}

.carousel-indicators li{
    /*border: 1px solid #242424;*/
    /*border-color: #242424;*/
    /*color:#242424;*/
    background-color: rgba(200,200,200,0.5);
    width: 8px;
    height: 8px;
    margin: 2px;
    border: none;
}

.carousel-indicators .active{
    background-color:#242424;
    background-color: rgba(33,33,33,0.9);
    width: 8px;
    height: 8px;
    margin: 2px;
    border: none;
}

.fa {
    vertical-align: middle;
}

@media(max-width:767px) {
    #about {
        padding-top: 60%;
    }

    .intro {
        height: 0;
        visibility: hidden;
        padding: 0;
    }

    .navbar {background-color: #f8f8f8;}

    .navbar-custom a, .navbar-toggle {
        color: #242424;
    }
}

.fill {
    width:100%;
    height:100%;
    background-position: center;
    background-size: cover;
}

.footer {
    padding: 7px 0;
    height: auto;
    color: #242424;
    font-size: 8px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: #ffeb03;
}

.ytvideo {
    padding-top: 0;
}

.video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}

/*STARTED FROM THE BOTTOM NOW WE HERE. If you started from the top like a normal person, that's okay too :)*/